body {
  margin: 0;
  font-family: "Major Mono";
  /*   
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.root * {
  font-family: "Major Mono";
}

@font-face {
  font-family: "Major Mono";
  font-style: normal;
  font-display: auto;
  font-weight: normal;
  src: url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap")
    format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
